apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ceph-csi-cephfs-ctrlplugin-r
  namespace: {{ .Values.rookConfig.rookNamespace }}
  labels:
{{ include "chart.labels" . | indent 4 }}
{{ include "ceph-csi-operator.labels" . | indent 4 }}
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - delete
      - update
      - create
  - apiGroups:
      - csiaddons.openshift.io
    resources:
      - csiaddonsnodes
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments/finalizers
      - daemonsets/finalizers
    verbs:
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ceph-csi-cephfs-nodeplugin-r
  namespace: {{ .Values.rookConfig.rookNamespace }}
  labels:
{{ include "chart.labels" . | indent 4 }}
{{ include "ceph-csi-operator.labels" . | indent 4 }}
rules:
  - apiGroups:
      - csiaddons.openshift.io
    resources:
      - csiaddonsnodes
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments/finalizers
      - daemonsets/finalizers
    verbs:
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ceph-csi-leader-election-role
  namespace: {{ .Values.rookConfig.rookNamespace }}
  labels:
{{ include "chart.labels" . | indent 4 }}
{{ include "ceph-csi-operator.labels" . | indent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ceph-csi-rbd-ctrlplugin-r
  namespace: {{ .Values.rookConfig.rookNamespace }}
  labels:
{{ include "chart.labels" . | indent 4 }}
{{ include "ceph-csi-operator.labels" . | indent 4 }}
rules:
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - watch
      - list
      - delete
      - update
      - create
  - apiGroups:
      - csiaddons.openshift.io
    resources:
      - csiaddonsnodes
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments/finalizers
      - daemonsets/finalizers
    verbs:
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ceph-csi-rbd-nodeplugin-r
  namespace: {{ .Values.rookConfig.rookNamespace }}
  labels:
{{ include "chart.labels" . | indent 4 }}
{{ include "ceph-csi-operator.labels" . | indent 4 }}
rules:
  - apiGroups:
      - csiaddons.openshift.io
    resources:
      - csiaddonsnodes
    verbs:
      - get
      - watch
      - list
      - create
      - update
      - delete
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments/finalizers
      - daemonsets/finalizers
    verbs:
      - update
